<?php
$title = 'Login';
$this->headTitle($title);
?>
<div class="page-header">
    <div class="pull-left">
        <h1><?php echo $this->escapeHtml($title); ?></h1>
    </div>
</div>

<?php
$form = $this->form;
$form->setAttribute('action', $this->url('login/process', array('action' => 'authenticate')));
$form->setAttribute('class', 'form-horizontal');

$form->prepare();
$formLabel = $this->plugin('formLabel');
?>

<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-edit"></i>Login</h3>
            </div>
            <div class="box-content">
                <?php echo $this->form()->openTag($form); ?>
                    <fieldset>
                        <div class="control-group">
                            <?php $username = $form->get('username');
                                  $username->setAttribute('class', 'input-xlarge');
                            ?>
                            <label for="username" class="control-label"><?php echo $username->getOption('label'); ?></label>
                            <div class="controls">
                                <?php
                                echo $this->formInput($username);
                                echo $this->formElementErrors($username);
                                echo $formLabel->closeTag();
                                ?>
                            </div>
                        </div>

                        <div class="control-group">
                            <?php $password = $form->get('password');
                                  $password->setAttribute('class', 'input-xlarge');
                            ?>
                            <label for="password" class="control-label">
                                <?php echo $password->getOption('label'); ?>
                            </label>
                            <div class="controls">
                                <?php
                                echo $this->formPassword($password);
                                echo $this->formElementErrors($password);
                                echo $formLabel->closeTag();
                                ?>
                            </div>
                        </div>

                        <div class="control-group">
                            <?php $rememberme = $form->get('rememberme');
                                  $rememberme->setAttribute('class', 'input-xlarge');
                            ?>
                            <label for="rememberme" class="control-label">
                                <?php echo $rememberme->getOption('label'); ?>
                            </label>
                            <div class="controls">
                                <?php
                                echo $this->formCheckbox($rememberme);
                                echo $this->formElementErrors($rememberme);
                                echo $formLabel->closeTag();
                                ?>
                            </div>
                        </div>

                    <div class="form-actions">
                        <?php
                        $submit = $form->get('submit');
                        $submit->setAttribute('class', 'btn btn-grey');
                        echo $this->formSubmit($submit);
                        ?>
                    </div>

                </fieldset>
            <?php echo $this->form()->closeTag(); ?>
            </div>
        </div>
    </div>
</div>

<?php
if ($this->messages) {
    echo '<ul>';
    foreach ($this->messages as $message) {
        echo '<li>' . $message . '</li>';
    }
    echo '</ul>';
}